/* Fil rouge : selecteur, dimensions, couleurs */
/* Texte */
/* Background */
/* Boxes */
/* Positionning */
/* Flex */
/* Grid */
/* Pseudo classe */
/* débug */
/* Responsive */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap'); /* Importation de la police Playfair Display à partir de google */
@font-face {
    font-family: "font-1"; /*nom avec lequelle on l'appel dans le fichier css pour aller plus vite*/
    src: url(./assets/NotoSans-Medium.ttf);
}
/*
*{ permet de mettre tout les margin et padding à une valeur
    margin: 0px;
    padding: 0px;
}*/

body {
    font-family: 'font-1', serif;
    background: url(./assets/coucher-soleil.jpg) no-repeat fixed center/cover; /*center/cover pour voir le centre de l'image, sinon right ou left */
    /* background: url(./assets/coucher-soleil.jpg) no-repeat fixed center/cover; permet de ne pas répéter l'image si le site est grand et le fixed 
    fait que l'image ne boue jamais*/
    /* height: 100vh; /* hauteur de l'élément body (avec 100 vh etant 100% de l'écran de l'utilisateur)*/
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.5rem; /* il vaut mieux parler en rem pour les titres*/
    color: rgb(196, 196, 252); /* ici c est en RGB, si on met de l'opacité en est en rgba*/
    text-shadow: 4px 3px 0px #378f8f8e; /* x y flou , à tchéker dans la console*/ 
    text-align: center;
    font-family: 'Playfair Display', serif; /* Police parisienne ou si le navigateur ne connait pas, il prend cursive*/
}

main {
    background: whitesmoke;
    width: 85%; /* en pourcentage permet de prendre le pourcentage voulu peut importe l'écran */
    min-height: 500px /* généralement on le met en pixel car on peut scroller */;
    /* margin: 70px 50px; /*avec 2 valeurs c'est marge hautbas et latérale. avec 4 valeurs c'est tous 
    les cotés dans le sens des aiguilles d'une montre */
    /* margin : 0 auto; /* pour centrer automatiquement selon la taille de la fenêtre */
    margin: 10px auto;
    padding: 15px ; /* à l'intérieur*/
    border-radius: 15px;
    box-shadow: 0px 2px 12px 5px rgba(0, 0, 0, 0.25);
}

.positionning,
.flexbox,
.grid {
    border: 2px solid skyblue;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    
}
/********** POSITIONNING *****/
.positionning {
    position: relative;
}

h2 {
    margin: 0px;
}

#circle {
    height: 60px;
    width: 60px;
    background: skyblue;
    padding: 20px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: 110px;
    box-shadow: 0 2px 12px 5px rgba(0, 0, 0, 0.135);
    z-index: 1; /* permet de dire quel element est au dessus de l'autre (on peut mettre des nombres négatifs aussi*/
}

#rectangle {
    height: 15px;
    width: 100px; /*on peut mettre une taille en % par rapport au parent */
    background: slateblue;
    padding: 20px;
    position: absolute;
    bottom: 2px;
    left: 50%; /* centre le coté gauche de 50% à gauche */
    transform: translateX(-50%) ; /*permet à l'objet de revenir de 50% sur la gauche de sa taille pour centre l'objet */

}

/************** FLEXBOX **********/
ul {
    display: flex; /*mets à la ligne les éléments ul */
    justify-content: space-around;
    padding: 0px; /*enlève le padding par défaut de 40 px de chrome*/
}

li {
    list-style: none; /*permet de choisir un style de point ou les retirer avec none*/
    font-size: 0.7rem;
    height: 160px;
    width: 160px;
    background: turquoise;
    /*centrer verticalement*/
    display : flex; /* à mettre pour que l'interieur de la flexbox bouge par rapport a elle*/
    align-items: center;
    justify-content: center;
}

/*********GRID*****/
.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 20px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "i1 i2"
    "ta ta"
    "bt bt";
}
input,
textarea {
    margin: 5px;
    height: 45px;
    border: 1px solid darkblue;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-family:"font-1" ;
}
#firstname {
    grid-area: i1;
}

#surname {
    grid-area: i2;
}
textarea {
    grid-area: ta;
    resize: none; /* empeche l'utilisateur de changer la taille de la zone de texte pour pas foutre le bordel*/
}

input[type="submit"]{
    grid-area: bt;
    cursor: pointer;
    background: grey;
    transition: 0.4s; /*en lien avec le hover*/
}

input[type="submit"]:hover{ /* hover ->Permet de modifier le style quand le curseur passe sur le bouton*/
    background: blue;
}

/*******RESPONSIVE********/
@media screen and (max-width:1000px) {  

    .grid-container {
        display: block;
    }
}

@media screen and (max-width:780px){
    form {
        grid-template: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "i1"
        "i2"
        "ta"
        "bt";
    }
}


